<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <!-- Page Wrapper -->
    <div style="background: url(images/bgimg.jpg)" class="page-holder bg-cover">
        <!-- HEADER START -->
        <div class="container py-5">
            <header class="text-center text-white">
                <h1 class="display-4 font-weight-bold mb-4 page-titles">Settings
            </header>
            <!-- HEADER END -->
            <!-- MAIN CONTENT START -->
            <main div class="text-white vh-auto background-transparency">

                <!-- Go Back and Logout row -->
                <div class="row">
                    <div class="col-6 text-left pl-5">
                        <a href="#" onclick="goBack()">
                            <img src="images/icon-go-back.png" width="10%" height="auto"><br />
                            Go Back
                        </a>
                    </div>
                    <div class="col-6 text-right pr-5">
                        <p>
                            <a href="/logout">
                                <img src="images/icon-sign-out.png" width="10%" height="auto"><br />
                                Logout
                            </a>
                        </p>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row pt-3">
                        <div class="col-12">
                            <h3>User Settings</h3>
                            <p class="lead">Find user:</p>

                            <!-- SEARCH FIELD -->
                            <div class="input-group mb-3 pb-5">
                                <div class="input-group-prepend">
                                    <label class="input-group-text text-white bg-success border-dark" for="inputGroupSelect01">Search by:</label>
                                    <select class="custom-select" id="inputGroupSelect01">
                                        <option value="first_name" selected>First Name</option>
                                        <option value="surname" selected>Surname</option>
                                        <option value="phonenumber">Phone Number</option>
                                        <option value="email" selected>Email Address</option>
                                        <option value="dob" selected>Date of Birth</option>
                                        <option value="business_name">Business name</option>
                                    </select>
                                </div>
                                <input type="text" class="form-control" aria-label="Text input with dropdown button">
                                <div class="input-group-append text-right">
                                    <button class="btn btn-success" type="button">Seach</button>
                                </div>
                            </div>

                            <!-- SEARCH RESULTS -->
                            <h3>Search Results</h3>
                        <table class="table table-hover bg-light">
                            <thead>
                                <tr class="text-center">
                                    <th scope="col">First Name</th>
                                    <th scope="col">Surname</th>
                                    <th scope="col">Phone number</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Date of Birth</th>
                                    <th scope="col">Business Name</th>
                                    <th scope="col">Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center">
                                    <th>John</th>
                                    <td>Wick</td>
                                    <td>07712345678</td>
                                    <td>john@wick.com</td>
                                    <td>01/01/1969</td>
                                    <td>Fun with Guns</td>
                                    <td><a href="/user-options"><img src="images/icon-options.png" width="30%"></a></td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </div>
    </div>

    </div>
    </main>
    <!-- MAIN CONTENT END -->
    <%- include('../includes/end.ejs') %>
    </div>
</body>