<link rel="stylesheet" href="css/search.css">
</head>
<header>

    <nav class="navbar navbar-expand-lg navbar-dark position-sticky" style="background-color: #284B63">

        <!-- LOGO AND NAME -->
        <a class="navbar-brand" href="/">
            <img src="images/logo_big.png" width="30" height="30" class="d-inline-block align-top" alt="Background"
                style="background-color: rgba(255, 255, 255, 1);">
            TRAFFLE
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- NAV ITEMS -->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" href="/whatwedo">What we do</a>
                <a class="nav-link active" href="/prices">Prices</a>

                <!-- USER IS LOGGED IN MENU -->
                <% if (locals.isAuthenticated) { %>
                <a class="nav-link active" href="/business">Account</a>

                <!--
                    FORM TO LOGOUT. NOT SURE IF WE NEED THIS, OR CAN JUST USE A HREF LINK
                    HREF FORMATS BETTER ON THE NAV AS FORM NEEDS A BUTTON

                    <form action="/log-out" method="post">
                        <div>
                        <input type="submit" value="Logout" width="10%" height="auto" alt="Submit feedback">
                        </div>
                    </form>
                -->

                <!-- ADMIN IS LOGGED IN MENU -->
                <% if (locals.isAuthenticated && isAdmin == true) { %>
                <a class="nav-link active" href="/admin">Admin</a>
                <% } %>

                <a class="nav-link active" method="post" href="/log-out" type="submit">Logout</a>
                <% } %>

                <!-- NOT LOGGED IN MENU -->
                <% if (!locals.isAuthenticated) { %>
                <a class="nav-link active" href="/login">Login</a>
                <% } %>

                <a class="nav-link active" href="/downloads">Download App</a>
            </div>
        </div>
    </nav>
</header>