<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
</head>
<!-- Page Wrapper -->
<div style="background: url(images/bgimg.jpg)" class="page-holder bg-cover">

    <!-- HEADER START -->
    <div class="container py-5">
        <header class="text-center text-white">
            <h1 class="display-4 font-weight-bold mb-4 page-titles">Terms and Conditions</h1>
        </header>
        <!-- HEADER END -->

        <!-- MAIN CONTENT START -->
        <main div class="text-white vh-auto background-transparency">
            <h3>Please read carefully</h3>
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, nisi ad, provident accusantium minima corrupti labore dolor maxime, eius dolorum voluptatum explicabo amet. Incidunt cum aliquam rem quos nemo ab!
            </p>
            <button type="button" class="btn btn-success" onclick="goBack()">Go Back</button>
    </div>
    </main>
    <!-- MAIN CONTENT END -->

    <%- include('../includes/end.ejs') %>
</div>
</body>